<div class="panel panel-primary">
  <div class="panel-heading">Bonus Settings</div>
  <div class="panel-body">
    <form name="bonusForm">
      <div class="checkbox">
        <label class="custom-checkbox control-label">
          <input type="checkbox" name="enable_bonus" ng-model="settings.enable_bonus">
          <strong>Enable Bonus</strong>
          <span class="help-block">When enabled, customers can have bonus session if they completed the
            challenges.</span>
        </label>
      </div>
    </form>
    <hr>
    <div ng-if="settings.enable_bonus">
      <certain-amount></certain-amount>
      <div class="panel panel-primary">
        <div class="panel-heading">Bonus game</div>
        <div class="panel-body">
          <uib-tabset>
            <uib-tab heading="Roleta Game">
              <roleta-game></roleta-game>
            </uib-tab>
            <uib-tab heading="New Game">
              <di class="padd-top">
                <br>
                <p>COMING SOON ...</p>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </div>
</div>