<div class="panel panel-primary">
  <div class="panel-heading">Bonus Plugin</div>
  <div class="panel-body">
    <uib-tabset>
      <uib-tab heading="Bonus Settings">
        <form name="bonusForm" class="padd-top">
          <div class="checkbox">
            <label class="custom-checkbox control-label">
              <input type="checkbox" name="enable_bonus" ng-model="settings.enable_bonus">
              <strong>Enable Bonus</strong>
              <span class="help-block">When enabled, customers can play game/s and win any prizes.</span>
            </label>
          </div>
        </form>
        <hr/>
        <br>
        <div ng-if="settings.enable_bonus">
          <certain-amount></certain-amount>
          <div class="panel panel-primary">
            <div class="panel-heading">Bonus game</div>
            <div class="panel-body">
              <uib-tabset>
                <uib-tab heading="Roleta Game">
                  <roleta-game></roleta-game>
                </uib-tab>
                <uib-tab heading="New Game">
                  <div class="padd-top">
                    <br>
                    <p>COMING SOON ...</p>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="Bonus Logs">
        <bonus-logs></bonus-logs>
      </uib-tab>
    </uib-tabset>
  </div>
</div>