<div class="panel panel-primary">
  <div class="panel-heading">Bonus Challenge</div>
    <div class="panel-body">
      <form class="padd-top" name="certainAmountForm" ng-submit="$ctrl.update()">
        <div class="checkbox">
          <label class="custom-checkbox control-label">
            <input type="checkbox" name="enable" ng-model="$ctrl.certain_cfg.enable">
            <strong>Enable</strong>
            <span class="help-block">When enabled, users must complete the challenge in order to play the game. If not enabled, the users will automatically play the game.</span>
          </label>
        </div>  
        <div ng-if="$ctrl.certain_cfg.enable">
          <hr>
          <div class="form-group" ng-class="{'has-error': $ctrl.optionIsRequired, 'has-success': !$ctrl.optionIsRequired}">
            <label class="control-label">How long do the customer must pay?</label>
            <select class="form-control" ng-model="$ctrl.certain_cfg.bonus_limit_days" ng-change="$ctrl.optionIsRequired = false">
              <option value="today">Today</option>
              <option value="this_week">This Week</option>
              <option value="this_month">This Month</option>
            </select>
            <span class="help-block" ng-if="$ctrl.optionIsRequired">It is required</span>
          </div>
          <div class="form-group"
            ng-class="{'has-error': certainAmountForm.bonus_amount_needed.$invalid, 'has-success': certainAmountForm.bonus_amount_needed.$valid && certainAmountForm.bonus_amount_needed.$touched}">
            <label class="control-label">How much do the customer must pay?</label>
            <input type="number" name="bonus_amount_needed" ng-model="$ctrl.certain_cfg.bonus_amount_needed" class="form-control"
              min="5" required>
            <span class="help-block" ng-if="certainAmountForm.bonus_amount_needed.$error.required">It is required</span>
            <span class="help-block" ng-if="certainAmountForm.bonus_amount_needed.$error.min">
              Minimum is 5
            </span>
          </div>
          <div class="form-group">
            <label class="control-label">Custom Challenge Text</label>
            <input type="text" name="custom_challenge_text" class="form-control" ng-model="$ctrl.certain_cfg.custom_challenge_text" placeholder="Pay more than or equal to 20 Pesos within Today to play the game.">
          </div>
          <!-- <p><strong>Type: </strong></p>
          <div class="padd-bottom" style="display: flex;">
            <div style="margin-right: 50px;">
              <input type="radio" name="bonus_type" ng-model="$ctrl.selected" value="time" required>
              <label class="control-label">Time</label>
            </div>
            <div>
              <input type="radio" name="bonus_type" ng-model="$ctrl.selected" value="data" required>
              <label class="control-label">Data</label>
            </div>
          </div>
          <div class="form-group" ng-if="$ctrl.selected === 'time'" ng-class="{'has-error': certainAmountForm.bonus_minutes.$invalid, 'has-success': certainAmountForm.bonus_minutes.$valid && certainAmountForm.bonus_minutes.$touched}">
            <label class="control-label">Time (Mins):</label>
            <input type="number" name="bonus_minutes" required class="form-control" ng-model="$ctrl.certain_cfg.bonus_minutes" min="1"> 
             <span class="help-block" ng-if="certainAmountForm.bonus_minutes.$error.required">
              It is required
            </span>
            <span class="help-block" ng-if="certainAmountForm.bonus_minutes.$error.min">
              Minimum is 1
            </span>
          </div>
          <div class="form-group" ng-if="$ctrl.selected === 'data'"
            ng-class="{'has-error': certainAmountForm.bonus_mb.$invalid, 'has-success': certainAmountForm.bonus_mb.$valid && certainAmountForm.bonus_mb.$touched}">
            <label class="control-label">Data (MB):</label>
            <input type="number" name="bonus_mb" required class="form-control" ng-model="$ctrl.certain_cfg.bonus_mb" min="1">
            <span class="help-block" ng-if="certainAmountForm.bonus_mb.$error.required">
              It is required
            </span>
            <span class="help-block" ng-if="certainAmountForm.bonus_mb.$error.min">
              Minimum is 1
            </span>
          </div> -->
        </div>
        <button class="btn btn-success" type="submit" ng-disabled="(certainAmountForm.$invalid || certainAmountForm.$pristine || $ctrl.optionIsRequired) && $ctrl.certain_cfg.enable">Save</button>
      </form>
    </div>
  </div>
</div>

