<form class="padd-top" name="roletaMainSettingsForm" ng-submit="$ctrl.saveSettings(1)">
  <div class="pull-right">
    <button class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.resetSpin()" >Reset Users Spin</button>
  </div>
  <br/>
  <br/>
  <div class="form-group" ng-class="{'has-error': roletaMainSettingsForm.max_spin.$invalid, 'has-success':  roletaMainSettingsForm.max_spin.$valid && roletaMainSettingsForm.max_spin.$touched}"
  >
    <label class="control-label">Maximum Spin:</label>
    <input class="form-control" name="max_spin" ng-model="$ctrl.roleta.max_spin" type="number" required min="1">
    <span class="help-block" ng-if="roletaMainSettingsForm.max_spin.$error.required">
        It is required
    </span>
    <span class="help-block" ng-if="roletaMainSettingsForm.max_spin.$error.min">
        Minimum is 1
    </span>
  </div>
  <div class="form-group" ng-class="{'has-error': $ctrl.optionIsRequired, 'has-success': !$ctrl.optionIsRequired}">
    <label class="control-label">Reset Customer Spin After:</label>
     <select class="form-control" name="reset_spin_after" ng-model="$ctrl.roleta.reset_spin_after" ng-change="$ctrl.optionIsRequired = false">
        <option value="today">Today</option>
        <option value="this_week">This Week</option>
        <option value="this_month">This Month</option>
      </select>
    <span class="help-block" ng-if="$ctrl.optionIsRequired">It is required</span>
  </div>
    
  <button class="btn btn-success" type="submit" ng-disabled="(roletaMainSettingsForm.$invalid || roletaMainSettingsForm.$pristine || $ctrl.optionIsRequired)">Save Settings</button>
</form>
<div> 
  <hr>
  <div class="form-group">
    <label class="control-label">Spin Background Sound:</label>
   <div><code>{{$ctrl.sounds.spin_bg_sound ? $ctrl.sounds.spin_bg_sound : 'N/A'}}</code></div>
    <div>
      <div class="btn btn-sm btn-primary" name="file" ngf-select="$ctrl.uploadIcon($file, 'spin')" ngf-pattern="'.mp3,audio/*'" ngf-accept="'.mp3,audio/*'" title="Change new spin Background sound effect" >
          <span class="fa fa-upload"> Select File</span>
      </div>
      <roleta-audio-btn file-name="$ctrl.sounds.spin_bg_sound" dir="'spin'"></roleta-audio-btn>
      <button ng-disabled="!$ctrl.sounds.spin_bg_sound" type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.deleteSound('spin', $ctrl.sounds.spin_bg_sound)"><i class="fa fa-trash"></i>Delete</button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Winner Sound:</label>
    <div><code>{{$ctrl.sounds.winner_sound ? $ctrl.sounds.winner_sound : 'N/A'}}</code></div>
    <div>
      <div class="btn btn-sm btn-primary" name="file" ngf-select="$ctrl.uploadIcon($file, 'win')" ngf-pattern="'.mp3,audio/*'" ngf-accept="'.mp3,audio/*'" title="Change new winner sound effect" >
          <span class="fa fa-upload"> Select File</span>
      </div>
      <roleta-audio-btn file-name="$ctrl.sounds.winner_sound" dir="'win'"></roleta-audio-btn>
      <button ng-disabled="!$ctrl.sounds.winner_sound" type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.deleteSound('win', $ctrl.sounds.winner_sound)"><i class="fa fa-trash"></i>Delete</button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Lose Sound:
    </label> 
    <div><code>{{$ctrl.sounds.loser_sound ? $ctrl.sounds.loser_sound : 'N/A'}}</code></div>
    <div>
      <div class="btn btn-sm btn-primary" name="file" ngf-select="$ctrl.uploadIcon($file, 'lose')" ngf-pattern="'.mp3,audio/*'" ngf-accept="'.mp3,audio/*'" title="Change new lose sound effect" >
          <span class="fa fa-upload"> Select File</span>
      </div>
      <roleta-audio-btn file-name="$ctrl.sounds.loser_sound" dir="'lose'"></roleta-audio-btn>
      <button ng-disabled="!$ctrl.sounds.loser_sound" type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.deleteSound('lose', $ctrl.sounds.loser_sound)"><i class="fa fa-trash"></i>Delete</button>

    </div>
  </div>
</div>
<div>
  <hr>
  <span class="help-block">Add roleta choices, minimum of 3 choices else customer's can't play this game.</span>
  <div class="padd-top row">
    <form name="roletaGameForm" class="col-md-5" ng-submit="$ctrl.saveSettings(2)">
      <div class="form-group">
        <label class="control-label">Has prize ?</label>
        <select ng-options="p for p in $ctrl.has_prize_options" class="form-control" ng-model="$ctrl.new_prize.has_prize" name="has_prize" > </select>
      </div>
      <div class="form-group" ng-class="{'has-error': $ctrl.colors.length === 0}">
        <label class="control-label">Select Color:</label>
        <select class="form-control" ng-model="$ctrl.new_prize.color"
        ng-options="c for c in $ctrl.colors" name="color" ng-disabled="$ctrl.colors.length === 0"
        required 
        ></select>
        <span class="help-block" ng-if="$ctrl.colors.length === 0"> No color available </span>
      </div>
      <div ng-if="$ctrl.new_prize.has_prize === 'Yes'">
        <p><strong>Credits: </strong></p>
        <div class="padd-bottom" style="display: flex;">
          <div style="margin-right: 20px;">
            <input type="radio" name="roleta_type" ng-model="$ctrl.selected" value="time"  required>
            <label class="control-label">Time</label>
          </div>
          <div style="margin-right: 20px;">
            <input type="radio" name="roleta_type" ng-model="$ctrl.selected" value="data" required>
            <label class="control-label">Data</label>
          </div>
          <div >
            <input type="radio" name="roleta_type" ng-model="$ctrl.selected" value="admin_prize" required>
            <label class="control-label">Admin Prize <em style="font-size: 13px">(Your prefer prize)</em></label>
          </div>
        </div>
        <div class="form-group" ng-if="$ctrl.selected === 'time'" ng-class="{'has-error': roletaGameForm.bonus_minutes.$invalid, 'has-success': roletaGameForm.bonus_minutes.$valid && roletaGameForm.bonus_minutes.$touched}">
          <label class="control-label">Time (Mins.):</label>
          <input type="number" name="bonus_minutes" required class="form-control" ng-model="$ctrl.new_prize.bonus_minutes" min="1" ng-init="$ctrl.new_prize.bonus_minutes=1"> 
           <span class="help-block" ng-if="roletaGameForm.bonus_minutes.$error.required">
            It is required
          </span>
          <span class="help-block" ng-if="roletaGameForm.bonus_minutes.$error.min">
            Minimum is 1
          </span>
        </div>
        <div class="form-group" ng-if="$ctrl.selected === 'data'" ng-class="{'has-error': roletaGameForm.bonus_mb.$invalid, 'has-success': roletaGameForm.bonus_mb.$valid && roletaGameForm.bonus_mb.$touched}">
          <label class="control-label">Data (MB):</label>
          <input type="number" name="bonus_mb" required class="form-control" ng-model="$ctrl.new_prize.bonus_mb" min="1" ng-init="$ctrl.new_prize.bonus_mb=1"> 
          <span class="help-block" ng-if="roletaGameForm.bonus_mb.$error.required">
            It is required
          </span>
          <span class="help-block" ng-if="roletaGameForm.bonus_mb.$error.min">
            Minimum is 1
          </span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': roletaGameForm.prize_text.$invalid, 'has-success': roletaGameForm.prize_text.$valid && roletaGameForm.prize_text.$touched}">
        <span ng-if="$ctrl.new_prize.has_prize === 'Yes' && $ctrl.selected">
          <label class="control-label">Reward Text: </label>
          <input type="text" name="prize_text" class="form-control" ng-model="$ctrl.new_prize.prize_text" 
          placeholder="Sample: {{$ctrl.selected !== 'admin_prize' ? $ctrl.selected === 'time' ? $ctrl.new_prize.bonus_minutes + ' minute/s free session' : $ctrl.new_prize.bonus_mb + ' MB free session'  : 'Free Voucher from Admin, Free 1 Peso'}}"
          maxlength="23"
          required>
        </span>
        <span ng-if="$ctrl.new_prize.has_prize === 'No'">
          <label class="control-label">No Reward Text: </label>
          <input ng-if="$ctrl.new_prize.has_prize === 'No'" type="text" name="prize_text" class="form-control" ng-model="$ctrl.new_prize.prize_text" 
          placeholder="Bokya, No Reward" 
          maxlength="23"
          required>
        </span>
        <span class="help-block" ng-if="roletaGameForm.prize_text.$error.required">
            It is required
        </span>

        <span class="help-block" ng-if="$ctrl.new_prize.prize_text.length >= 23">
            Maximum letters of 23
          </span>
      </div>
      <button class="btn btn-success padd-top padd-bottom" type="submit" 
      ng-disabled="roletaGameForm.$invalid || roletaGameForm.$pristine "
      >Add</button>

    </form>
    <div class="col-md-7 scrollable-x">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 30%">Text</th>
            <th>Color</th>
            <th>Credits</th>
            <th>Has Prize?</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prize in $ctrl.roleta_old_data.prizes">
            <td>{{prize.prize_text}}</td>
            <td ng-style="{background: prize.color, color: 'white'}">{{prize.color.toUpperCase()}}</td>
            <td>
              <span ng-if="prize.bonus_mb !== 0">{{prize.bonus_mb}} MB</span>
              <span ng-if="prize.bonus_minutes !== 0">{{prize.bonus_minutes}} Mins.</span>
              <span ng-if="prize.is_admin_prize">Admin Prize</span>
              <span ng-if="!prize.has_prize">N/A</span>
            </td>
            <td>{{prize.has_prize ? 'Yes' : 'No'}}</td>
            <td>
              <span class="btn btn-danger btn-xs" ng-click="$ctrl.deletePrize($index)"><i class="fa fa-trash"></i></span>
            </td>
          </tr>
        </tbody>
        <tfoot ng-hide="$ctrl.roleta_old_data.prizes.length">
          <tr>
            <td colspan="4" class="text-center">- No Data -</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
</div>